.l-authentification-form
  = form_for @admin_model.new, url: user_session_path, html: { class: 'form-horizontal' } do |f|
    .form-group
      .input-group
        %label.input-group-addon{ for: 'authentification-form-admin-email' } @
        = f.text_field :email, placeholder: @admin_model.human_attribute_name(:email),
          class: 'form-control', id: 'authentification-form-admin-email'
